
#id044_1pag1, #id044_1pag2, #id044_1pag2_2, #id044_1pag2_3, #id044_1pag2_4, 
#id044_1pag3, #id044_1pag3_1, #id044_1pag3
{
    background-color: rgb(255, 255, 255);

}
.img1, .img2, .img3{
    float: left;
}
.w3-lime{
    border-radius: 44px 44px 25px 44px;
-moz-border-radius: 44px 44px 25px 44px;
-webkit-border-radius: 44px 44px 25px 44px;
border: 10px solid #000000;
animation-name: zoomIn;
animation-duration: 5s;

}
.resaltado_especial{
    animation-name: zoomIn;
animation-duration: 4s;
}
.img6{
    width: 150px;
    height: auto;
    margin-left: 220px;

}
.img7{
    position:absolute;
    width: 210px;
    height: auto;
    margin-left: 180px;
    opacity: 0.2;

}
.img8{
        width: 150px;
        height: auto;
        margin-left: 280px;
}

#boton4_1:hover, #boton4_2:hover, #boton4_3:hover {
    background-color: #eccd41;
}

#boton4_1, #boton4_2, #boton4_3{
    background-color: #f8e48c;
    border-style: none;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 2%;
}

.btn4_1, .btn4_2, .btn4_3{
    width: 390px;
    height: 45px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}