.btn_negrilla_sensible{

	background: #005688; /* For browsers that do not support gradients */

	border-style: solid;
 	border: 2px solid #0877B5;
 	
 	border-radius: 0px;
 	
 	width:auto;
 	padding: 15px 35px; 
 	font-size: 16px;
 	line-height: 25px;
	font-family: "klavika-regular";
	height: auto;
	color:#0877B5;

	background-color: transparent;

	box-shadow: 0 0 0px rgba(0,0,0,0.3);

	margin:15px 5px;

	display: inline-block;
    text-align: center;
}
.resaltado_especial{
    text-align:center;

}

.w3-modal-content {
padding-left: 120PX;
}
.w3-modal-content{
	padding-left: 15%;
}
.w3-card{
	margin: 2%;
	padding: 2%;
}
