.btn_negrilla_sensible{

	background: #005688; /* For browsers that do not support gradients */

	border-style: solid;
 	border: 2px solid #0877B5;
 	
 	border-radius: 0px;
 	
 	width:auto;
 	padding: 15px 35px; 
 	font-size: 16px;
 	line-height: 25px;
	font-family: "klavika-regular";
	height: auto;
	color:#0877B5;

	background-color: transparent;

	box-shadow: 0 0 0px rgba(0,0,0,0.3);

	margin:15px 5px;

	display: inline-block;
    text-align: center;
}
.resaltado_especial{
	background: center;
    text-align:center;

}

.w3-modal-content {

border-radius: 70px 0px 70px 0px;
-moz-border-radius: 70px 0px 70px 0px;
-webkit-border-radius: 70px 0px 70px 0px;

	/* animation-name: zoomIn;
	animation-duration: 2s; */

}

.w3-card{
	margin: 2%;
	padding: 2%;
}

#id033_1, #id033_pag1, #id033_pag2, #id033_pag3, #id033_pag4,#id033_pag5,#id033_pag7, #id033_pag8, #id033_2, #id033_3, #id033_4, #id033_4pag1, #id033_4pag2, #id033_4pag3, #id033_4pag4
,#id033_5, #id033_5pag1, #id033_5pag2, #id033_5pag3 {
	background-color: rgb(255, 255, 255);

}

#id01, #id02, #id03, #id04, #id04_2, #id05, #id06, #id07, #id08, #id09, 
#id010, #id011, #id012, #id012_1, #id012_2, #id012_4, #id012_3_2 ,#id012_2_2, #id012_3, 
#id018, #id017, #id016, #id015, #id011_2, #id012_2_3, #id012_3_1, #id012_3, #id012_3_1, #id012_4_2, #contrato1, #contrato2{
	background-color: rgb(255, 255, 255);
}
#modal-content{
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	/* animation-name: zoomIn;
    animation-duration: 2s; */
}
#modal-contentSiguiente{
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.75);
	/* animation-name: fadeIn;
    animation-duration: 2s; */
}


#btn-cerrar{
	
	left: 350px;
	background: transparent;
	z-index: 2;
	border: none;

}
.w3-col{
	margin: 2%;
	margin-left: 5%;
}
.btn-id04{
	margin: 2%;
	border-radius: 24px 24px 24px 24px;
-moz-border-radius: 24px 24px 24px 24px;
-webkit-border-radius: 24px 24px 24px 24px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
animation-name: fadeIn;
animation-duration: 2s;
}

.img_id01{
	margin: 3%;
}
#btn-abrir{
	margin: 2%;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}
.btn-abrir{
	width: 100%;
}
.w3-lime{
	width: 100%;
	margin: 1%;
	border-radius: 44px 44px 25px 44px;
-moz-border-radius: 44px 44px 25px 44px;
-webkit-border-radius: 44px 44px 25px 44px;

}