#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
  }

#menu #item {
    float: left;  
  }
  
  #menu #item a{
    background-color: rgba(0, 51, 102, 1);
    color: rgba( 255, 255, 255, 1);
    padding: 5px 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
  
  }

  .ventana1{
      background: rgb(255, 255, 255);
      width: 80%;
      height: 80%;
      color: black;
      font-family: "klavika-regular";
      font-size: 18px;
      text-align: justify;
      padding: 50px;
      min-height: 200px;
      position: absolute;
      left: 10%;
      top: 15%;
      display: none;
      z-index: 1;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

        border-style: solid;
        border: 2px solid #0877B5;
        color:#0877B5;

  }
  
  .ventana2{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;


}

.ventana3{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;


}
.ventana4{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;


}

  .ventana5{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;

}

.ventana6{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;

}

#cerrar1{
    position: absolute;
    right: -10px;
    top: -15px;
    }
#cerrar2{
    position: absolute;
    right: -10px;
    top: -15px;
}

#cerrar3{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar4{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar5{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar6{
    position: absolute;
    right: -10px;
    top: -15px;
}

a{
    font-family: "klavika-regular";
}

#resaltado_especial{
	background: #005688; /* For browsers that do not support gradients */

	border-style: solid;
 	border: 2px solid #0877B5;
 	
 	border-radius: 0px;
 	
 	width:auto;
 	padding: 15px 35px; 
 	font-size: 16px;
 	line-height: 25px;
	font-family: "klavika-regular";

	
	text-align: left;
	height: auto;
	
	color:#0877B5;

	background-color: transparent;

	box-shadow: 0 0 0px rgba(0,0,0,0.3);

	margin:15px 5px;

	display: inline-block;
	

 	
}
.btn-subMenu{
    width: 100%;
    margin: 2%;
}
