#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
      
  }

#menu #item {
    float: left;  
    
  }
  
  #menu #item a{
    background-color: rgba(0, 51, 102, 1);
    color: rgba( 255, 255, 255, 1);
    padding: 5px 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    animation-name: fadeIn;
  animation-duration: 3s;
    
  
  }

  .ventana1{
      background: rgb(255, 255, 255);
      width: 80%;
      height: 70%;
      color: black;
      font-family: "klavika-regular";
      font-size: 18px;
      text-align: justify;
      padding: 50px;
      min-height: 200px;
      position: absolute;
      left: 10%;
      top: 15%;
      display: none;
      z-index: 1;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

        border-style: solid;
        border: 2px solid #0877B5;
        color:#0877B5;
        animation-name: jello;
      animation-duration: 2s;

  }
  
  .ventana2{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: left;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;
      animation-name: jello;
      animation-duration: 2s;


}

.ventana3{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 60%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: left;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;
      animation-name: jello;
      animation-duration: 2s;


}
.ventana4{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 16px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;
      animation-name: jello;
      animation-duration: 2s;


}

  .ventana5{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 83%;
    color: black;
    font-family: "klavika-regular";
    font-size: 16px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;
      animation-name: jello;
      animation-duration: 2s;

}

.ventana6{
    background: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
      
      box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

      border-style: solid;
      border: 2px solid #0877B5;
      color:#0877B5;
      animation-name: jello;
      animation-duration: 2s;

}

#cerrar1{
    position: absolute;
    right: -10px;
    top: -15px;
    }
#cerrar2{
    position: absolute;
    right: -10px;
    top: -15px;
}

#cerrar3{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar4{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar5{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar6{
    position: absolute;
    right: -10px;
    top: -15px;
}



#resaltado_especial{
	background: #005688; /* For browsers that do not support gradients */

	border-style: solid;
 	border: 2px solid #0877B5;
 	
 	border-radius: 0px;
 	
 	width:auto;
 	padding: 15px 35px; 
 	font-size: 16px;
 	line-height: 25px;
	font-family: "klavika-regular";

	
	text-align: left;
	height: auto;
	
	color:#0877B5;

	background-color: transparent;

	box-shadow: 0 0 0px rgba(0,0,0,0.3);

	margin:15px 5px;

	display: inline-block;
	

 	
}
.btn-subMenu{
    width: 100%;
    margin: 2%;
}
.img5{
    
    margin-bottom: 2%;
    margin-left: 12%;
    width: 10%;
    height: 15%;
  
}

.img6{
    
  margin-bottom: 1%;
  margin-left: 40%;
  width: 10%;
  height: 15%;

}
.img7{
    
  margin-bottom: 1%;
  margin-left: 30%;
  width: 10%;
  height: 15%;

}
.img8{
    
  margin-bottom: 1%;
  margin-left: 40%;
  width: 10%;
  height: 15%;

}

.img9{
    
  margin-bottom: 1%;
  margin-left: 65%;
  width: 10%;
  height: 15%;

}


.fondo{
  position:center;
  width: 300px;
height: 300PX;
margin-left: 30%;
margin-top: 25%;
}

.w3-col{
  animation-name: zoomInDown;
  animation-duration: 2s;

}
.delegado{
  width: 48%;
  height: 68%; 
  margin-left: 62%;
  margin-top: -30%;

}
.unidades{
  width: 70%;
  height: 95%; 
  top: 5%;
  position: absolute;
  margin-left: 7%;
  opacity: 0.2;
  
}

.deposito{
  width: 30% ;
  height: 60%;
  margin-bottom: 1%;
}
.area{
  position:relative;
  width: 50%;
  height: 70%;
  margin-left: 20%;
  margin-top: 2%;
}
.servicio{
  width: 70%;
  height: 95%; 
  top: 5%;
  position: absolute;
  margin-left: 7%;
  opacity: 0.2;

}
.doc{
  width:40% ;
  height:60% ;
  margin-bottom: 3%;
  margin-left: 25%;

}