#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
  }

#menu #item {
    float: left;  
  }
  
  #menu #item a{
    background-color: rgba(0, 51, 102, 1);
    color: rgba( 255, 255, 255, 1);
    padding: 5px 15px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
  
  }

  .ventana1{
      background: honeydew;
      width: 50%;
      color: black;
      font-family: "klavika-regular";
      font-size: 18px;
      text-align: justify;
      padding: 50px;
      min-height: 200px;
      border-radius: 22px;
      position: absolute;
      left: 20%;
      top: 20%;
      display: none;
      border: double;
  }
  
  .ventana2{
    background: honeydew;
    width: 50%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    border-radius: 22px;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    border: double;
}

.ventana3{
    background: honeydew;
    width: 50%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    border-radius: 22px;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    border: double;
}
.ventana4{
    background: honeydew;
    width: 50%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    border-radius: 22px;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    border: double;
}

  .ventana5{
    background: honeydew;
    width: 50%;
    color: black;
    font-family: "klavika-regular";
    font-size: 14px;
    text-align: justify;
    padding: 50px;
    min-height: 200px;
    border-radius: 22px;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    border: double;
}

.ventana6{
    background: honeydew;
    width: 50%;
    color: black;
    font-family: "klavika-regular";
    font-size: 18px;
    text-align: justify;
    padding: 50px;
    min-height: 300px;
    border-radius: 22px;
    position: absolute;
    left: 20%;
    top: 20%;
    display: none;
    border: double;
}

#cerrar1{
    position: absolute;
    right: -10px;
    top: -15px;
    }
#cerrar2{
    position: absolute;
    right: -10px;
    top: -15px;
}

#cerrar3{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar4{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar5{
    position: absolute;
    right: -10px;
    top: -15px;
}
#cerrar6{
    position: absolute;
    right: -10px;
    top: -15px;
}

a{
    font-family: "klavika-regular";
}
