.img1{
    opacity: 0.1;

width: 60%;
height: 100%;

z-index:inherit;
}

.resaltado_especial{
font-family: "klavika-regular";
border-radius: 37px 71px 0px 103px;
-moz-border-radius: 37px 71px 0px 103px;
-webkit-border-radius: 37px 71px 0px 103px;
border: 3px solid #0877B5;
-webkit-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
-moz-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
}

.w3-modal{
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}



.w3-modal-content{
	width: 100%;
	margin: 1%;
}
.pop{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1.5px  inset #666363;
}
.menu1{
     width: 10%;
     height: auto;
      float: left;
    }

    .img3{
        animation-name: slideInRight;
        animation-duration: 2s;
      }
       

.img4{
height: 35%;    
    width: 35%;
    animation-name: rotateInDownRight;
        animation-duration: 3s;
 
}
.img5{
    position: relative;
    float:left;
    height: 40%;
    width: 20%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.img6{
    position: relative;
    float:right;
    height: 35%;
    width: 15%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.img7{
    
    float: center;
    width: 15%;
    height: 25%; 
    
    animation-name: swing;
    animation-duration: 2s; 
    
}
.img8{
    opacity: 0.2;
    position: absolute;
       width: 45%;
   height: 95%;
   float: right;
   
}
.img9{
    position:relative;
    width: 35%;
    height: 35%;
    
    animation-name: swing;
    animation-duration: 2s;

}
.img10{
    width: 30%;
    height: 40%;
    
    animation-name: fadeInDown;
    animation-duration: 2s;
}
.img11{
    width: 25%;
    height: 25;
    animation-name: swing;
    animation-duration: 2s;
}
.img12
{
    width: 40%;
    height: 50%;
    margin-bottom: 3%;
}

.img13{
    width: 55%;
    height: 55%;
}
.img14{
    
 
    position: relative;
       width: 40%;
   height: 60%;
   
}
.img15{
    width: 60%;
    height: 60%;
    position: relative;

}
.img16{
    margin-top:5%;
    
}
.numero1, .numero2, .numero3, .numero4, .numero5{
    width: 10%;
    height: 15%;
     margin: 10px; 
      float: left;

}

.w3-col{
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.img17{
    width: 35%;
    height: 35%;
}
.img18{
    width: 25%;
    height: 25%;
}
.img19{
    opacity: 0.2;
    position: absolute;
    width: 45%;
   height: 85%;
   left: 250px;
   
}
.img20{
height: 20%;
width: 20%;
}
.img21{
    position: relative;
    width: 15%;
    height: 15%;
    left:150px;
    
}
.img22{
    
    width: 20%;
    height: 20%;
}
.img23{
    width: 65%;
    height: 95%;
    position: absolute;
    opacity: 0.2;
}
.img24
{
    width: 65%;
    height: 95%;
    position: absolute;
    opacity: 0.2;
}
.img26{
  width: 40%;
  height: 50%;
}
.img27{
    opacity: 0.2;
    position: absolute; 
    width: 80%;
    height: 105%;
}
.img28{
    width: 50%;
    height: 50%;
}

.num1{
    width: 25%;
    height: auto;
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;


}

.boton1{
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 3px solid #000000;

}
.w3-lime{
    border-radius: 44px 44px 25px 44px;
-moz-border-radius: 44px 44px 25px 44px;
-webkit-border-radius: 44px 44px 25px 44px;
border: 10px solid #000000;
animation-name: fadeIn;
animation-duration: 4s;

}
.w3-khaki{
    border-radius: 44px 44px 25px 44px;
    -moz-border-radius: 44px 44px 25px 44px;
    -webkit-border-radius: 44px 44px 25px 44px;
    border: 10px solid #000000;
    animation-name: fadeIn;
    animation-duration: 4s;
}

      
.menu11{
width: 8%;
height: auto;
float: left;
top: 4%;


}
.img30{
    width: 30%;
    height: 30%;
}
.img33{
    width: 15%;
    height: 15%;
}
.img37{
    width: 25%;
    height: 25%;
    
}
.img39{
    width: 350px;
    height: 350px;
    margin-left: 150px;
}
.pago1{
    width: 250px;
     height: 250px;
}

.btn-def{
    width: 280px;
    height: 39px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;

  }
  #boton01:hover, #boton2:hover, #boton3:hover, #boton4:hover, #boton5:hover, #boton6:hover,#boton7:hover, #boton8:hover, #boton9:hover, #boton10:hover,
  #boton11:hover, #boton12:hover, #boton13:hover, #boton14:hover, #boton15:hover, #boton16:hover,#boton17:hover, #boton18:hover, #boton19:hover,#boton20:hover, #boton21:hover 
  
  {
    background-color: #eccd41;
  }

#boton01, #boton2, #boton3, #boton4, #boton5, #boton6, #boton7, #boton8, #boton9, #boton10,
  #boton11, #boton12, #boton13, #boton14, #boton15, #boton16, #boton17, #boton18, #boton19, #boton20, #boton21{
    background-color: #f8e48c;
    border-style: none;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 2%;
    
  }
.menu33{
width: 25%;
height: 25%;
}
#boton3_1:hover, #boton3_2:hover, #boton3_3:hover, #boton3_4:hover, #boton3_5:hover, #boton2_9_2:hover, #boton2_9_1:hover,
 #boton2_9_3:hover, #boton2_9_1_1:hover, #boton2_9_1_2:hover, #boton2_9_1_3:hover, #boton2_9_1_4:hover, #boton2_9_1_5:hover,
 #paso1:hover, #paso2:hover, #paso3:hover, #paso4:hover, #paso5:hover, #paso7:hover, #paso8:hover, #boton1_1:hover, #boton1_2:hover,
 #boton1_3:hover, #boton1_4:hover, #boton1_1_1:hover, #boton1_1_2:hover, #boton1_1_3:hover{
    background-color: #eccd41;
}
#boton3_1, #boton3_2, #boton3_3, #boton3_4, #boton3_5, #boton2_9_1, #boton2_9_2, #boton2_9_3, #boton2_9_1_1, #boton2_9_1_2,
#boton2_9_1_3, #boton2_9_1_4, #boton2_9_1_5, #paso1,  #paso2,  #paso3,  #paso4,  #paso5, #paso7, #paso8, #boton1_1, #boton1_2,
#boton1_3, #boton1_4, #boton1_1_1, #boton1_1_2, #boton1_1_3 {
    background-color: #f8e48c;
    border-style: none;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 2%;
}

.btn-def3_1, .btn-def3_2, .btn-def3_3, .btn-def3_4, .btn-def3_5{
    width: 420px;
    height: 55px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}
.btn-def2_9_1, .btn-def2_9_2, .btn-def2_9_3{
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;

}
.btn-def2_9_1_1, .btn-def2_9_1_2, .btn-def2_9_1_3, .btn-def2_9_1_4, .btn-def2_9_1_5{
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}
.btn-paso1, .btn-paso2, .btn-paso3, .btn-paso4, .btn-paso5, .btn-paso7, .btn-paso8, .btn-paso1_1, .btn-paso1_2, .btn-paso1_3,
.btn-paso1_4  {
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}

.btn-paso1_1_1, .btn-paso1_1_2, .btn-paso1_1_3{
    width: 420px;
    height: 80px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}