.img1{
    opacity: 0.1;

width: 60%;
height: 100%;

z-index:inherit;
}

.resaltado_especial{
font-family: "klavika-regular";
border-radius: 37px 71px 0px 103px;
-moz-border-radius: 37px 71px 0px 103px;
-webkit-border-radius: 37px 71px 0px 103px;
border: 3px solid #0877B5;
-webkit-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
-moz-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
}

.w3-modal{
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}



.w3-modal-content{
	width: 100%;
	margin: 1%;
}
.pop{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1.5px  inset #666363;
}
.menu1{
     width: 10%;
     height: auto;
      float: left;
    }

    /* .img3{
        animation-name: slideInRight;
        animation-duration: 2s;
      } */
       

.img4{
float: left;
width: 150px;
height: auto;
    animation-name: rotateInDownRight;
        animation-duration: 3s;
 
}
.img5{
    position: relative;
    float:left;
    height: auto;
    width: 35%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.btn-contrato{
    background-color: #eccd41;
    border: none;
    outline:none;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    transform:  transform 1.5s linear;

}
#btn-contrato1:hover{

    background-color: #b8b192;

}

#btn-contrato2:hover{

    background-color: #b8b192;

}

#contrato1{
        
    animation-name: swing;
    animation-duration: 2s;

}
#contrato2{
        
    animation-name: swing;
    animation-duration: 2s;

}
.img6{
    position: absolute;
    float:right;
    height: auto;
    width: 10%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.img7{
    
    float: right;
    width: 15%;
    height: auto; 
    animation-name: swing;
    animation-duration: 2s; 
    
}
.img8{
    opacity: 0.1;
    position: absolute;
       width: 45%;
   height: 95%;
   float: right;
   
}
.img29{
    float: left;
    width: 170px;
    height: auto;
    animation-name: swing;
    animation-duration: 2s;


}
.img9{
    
    float:right;
    width: 200px;
    height: auto;
    animation-name: swing;
    animation-duration: 2s;

}
.img10{
    width: 12%;
    height: auto;
    animation-name: fadeInDown;
    animation-duration: 2s;
}
.img11{
    width: 25%;
    height: 25;
    animation-name: swing;
    animation-duration: 2s;
}
.img12
{
    width: 40%;
    height: 50%;
    margin-bottom: 3%;
}

.img13{
    width: 55%;
    height: 55%;
}
.img14{  
float:right;
 width: 30%;
 height: auto;
   
}
.img15{
    width: 40%;
    height:auto;
    float:left;
} 
   .img40{
position:absolute;
width:30%;
height:auto;
}
.img16{
    width:120px;
    height:auto;
    margin-top:5%;
    
}
.numero1, .numero2, .numero3, .numero4, .numero5{
    width: 10%;
    height: 15%;
     margin: 10px; 
      float: left;

}

/* .w3-col{
    animation-name: fadeInUp;
    animation-duration: 2s;
} */

.img17{
    width:50%;
    height: auto;
    position: absolute;
    opacity:0.1;
    left: 210px;

}
.img18{
    width: 25%;
    height: auto;
    position: absolute;
    left: 550px;
    top:112px;
}
.img19{
    opacity: 0.1;
    position: absolute;
    width: auto;
   height: 85%;
   left: 200px;
   
}
.img20{
height: 150px;
width: auto;
float: left;
}
.img21{
    
    width: 150px;
    height: auto;
    position:absolute;
    left: 550px;
    top:130px;
    
    
    
}
.img22{
    
    width: 20%;
    height: 20%;
}
.img23{
    width: 120px;
    height: auto;
    
    float: right;
}
.img24
{
    width: 35%;
    height: auto;
    position: absolute;
    opacity: 0.2;
    left:250px;
}
.img26{
  width: 170px;
  height: auto;
}
.img27{
    opacity: 0.1;
    position: absolute; 
    width: 40%;
    height: auto;
    left: 230px;
    
}
.img28{
    width: 25%;
    height: auto;
    float: right;
}
.img35{
width: 200px;
height: auto;
animation-name: fadeIn;
animation-duration: 1s;
}
.num1{
    width: 25%;
    height: auto;
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;


}

.boton1{
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 3px solid #000000;



}
.w3-khaki{
    border-radius: 44px 44px 25px 44px;
    -moz-border-radius: 44px 44px 25px 44px;
    -webkit-border-radius: 44px 44px 25px 44px;
    border: 10px solid #000000;
    animation-name: fadeIn;
    animation-duration: 4s;
}

      
.menu11{
width: 8%;
height: auto;
float: left;
top: 4%;


}
.img30{
    width: 25%;
    height: auto;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.img33{
    width: 15%;
    height: 15%;
}

.img34{
    width:150px;
    height: auto;
}

.img37{
    width: 25%;
    height: 25%;
    
}
.img39{
    width: 300px;
    height: auto;
    
}
.pago1{
    width: 110px;
     height: auto;
     top: 5px;
     -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;
}

.btn-def{
    width: 280px;
    height: 39px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;

  }
  #boton01:hover, #boton2:hover, #boton3:hover, #boton4:hover, #boton5:hover, #boton6:hover,#boton7:hover, #boton8:hover, #boton9:hover, #boton10:hover,
  #boton11:hover, #boton12:hover, #boton13:hover, #boton14:hover, #boton15:hover, #boton16:hover,#boton17:hover, #boton18:hover, #boton19:hover,#boton20:hover, #boton21:hover 
  
  {
    background-color: #eccd41;
  }

#boton01, #boton2, #boton3, #boton4, #boton5, #boton6, #boton7, #boton8, #boton9, #boton10,
  #boton11, #boton12, #boton13, #boton14, #boton15, #boton16, #boton17, #boton18, #boton19, #boton20, #boton21{
    background-color: #f8e48c;
    border-style: none;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 2%;
    
  }
.menu33{
width: 25%;
height: 25%;
}
#boton3_1:hover, #boton3_2:hover, #boton3_3:hover, #boton3_4:hover, #boton3_5:hover, #boton2_9_2:hover, #boton2_9_1:hover,
 #boton2_9_3:hover, #boton2_9_1_1:hover, #boton2_9_1_2:hover, #boton2_9_1_3:hover, #boton2_9_1_4:hover, #boton2_9_1_5:hover,
 #paso1:hover, #paso2:hover, #paso3:hover, #paso4:hover, #paso5:hover, #paso7:hover, #paso8:hover, #boton1_1:hover, #boton1_2:hover,
 #boton1_3:hover, #boton1_4:hover, #boton1_1_1:hover, #boton1_1_2:hover, #boton1_1_3:hover, #btn3_5_1:hover, #btn3_5_2:hover,#btn3_5_3:hover{
    background-color: #eccd41;
}
#boton3_1, #boton3_2, #boton3_3, #boton3_4, #boton3_5, #boton2_9_1, #boton2_9_2, #boton2_9_3, #boton2_9_1_1, #boton2_9_1_2,
#boton2_9_1_3, #boton2_9_1_4, #boton2_9_1_5, #paso1,  #paso2,  #paso3,  #paso4,  #paso5, #paso7, #paso8, #boton1_1, #boton1_2,
#boton1_3, #boton1_4, #boton1_1_1, #boton1_1_2, #boton1_1_3, #btn3_5_1, #btn3_5_2, #btn3_5_3 {
    background-color: #f8e48c;
    border-style: none;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 2%;
}

.btn-def3_1, .btn-def3_2, .btn-def3_3, .btn-def3_4, .btn-def3_5{
    width: 420px;
    height: 55px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}
.btn-def2_9_1, .btn-def2_9_2, .btn-def2_9_3{
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;

}
.btn-def2_9_1_1, .btn-def2_9_1_2, .btn-def2_9_1_3, .btn-def2_9_1_4, .btn-def2_9_1_5{
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}
.btn-paso1, .btn-paso2, .btn-paso3, .btn-paso4, .btn-paso5, .btn-paso7, .btn-paso8, .btn-paso1_1, .btn-paso1_2, .btn-paso1_3,
.btn-paso1_4  {
    width: 420px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}

.btn-paso1_1_1, .btn-paso1_1_2, .btn-paso1_1_3{
    width: 420px;
    height: 80px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin: 3%;
}
.btn-play{
    border-radius: 20px;
    background-color: #eccd41;
    position: absolute;
    left: 0;
    border: none;
    outline:none;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    transform:  transform 1.5s linear;


}
.btn-play:hover{
    /* background-color: rgb(184, 164, 164); */
    transform: scale(0.9);
    transition: transform 1s linear;
}

.playOne{
    display: flex;
}

.content_contratacion{
    height: 170px; 
    overflow-y: scroll;
}

.content_contratacion2{
height: 330px;  
overflow-y: scroll;
}
.content_contratacion3{
    height: 310px; 
    overflow-y: scroll;
}
.content_contratacion4{
    height: 400px; 
    overflow-y: scroll;
}
.content_contratacion5{
    height: 310px; 
    overflow-y: scroll;
}