.img1{
    opacity: 0.1;

width: 60%;
height: 100%;

z-index:inherit;
}

.resaltado_especial{
font-family: "klavika-regular";
    border-radius: 117px 0px 117px 0px;
-moz-border-radius: 117px 0px 117px 0px;
-webkit-border-radius: 117px 0px 117px 0px;
border: 3px solid #0877B5;
-webkit-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
-moz-box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
box-shadow: -4px 0px 29px 26px rgba(0,0,0,0.16);
}

.w3-modal{
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}



.w3-modal-content{
	width: 100%;
	margin: 1%;
}
.pop{
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 1.5px  inset #666363;
}
.menu1{
    width: 10%;
    height: 15%;
     margin: 10px; 
      float: left;
    }

    .img3{
        animation-name: slideInRight;
        animation-duration: 2s;
      }
       

.img4{
height: 35%;    
    width: 35%;
    animation-name: rotateInDownRight;
        animation-duration: 3s;
 
}
.img5{
    position: relative;
    float:left;
    height: 40%;
    width: 20%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.img6{
    position: relative;
    float:right;
    height: 35%;
    width: 15%;
    
    animation-name: swing;
    animation-duration: 2s;
    
}
.img7{
    
    float: center;
    width: 15%;
    height: 25%; 
    
    animation-name: swing;
    animation-duration: 2s; 
    
}
.img8{
    opacity: 0.2;
    position: absolute;
       width: 80%;
   height: 90%;
   float: right;
   
}
.img9{
    position:relative;
    width: 35%;
    height: 35%;
    
    animation-name: swing;
    animation-duration: 2s;

}
.img10{
    width: 30%;
    height: 40%;
    
    animation-name: fadeInDown;
    animation-duration: 2s;
}
.img11{
    width: 25%;
    height: 25;
    animation-name: swing;
    animation-duration: 2s;
}
.img12
{
    width: 40%;
    height: 50%;
    margin-bottom: 3%;
}

.img13{
    width: 55%;
    height: 55%;
}
.img14{
    
 
    position: relative;
       width: 40%;
   height: 60%;
   
}
.img15{
    width: 60%;
    height: 60%;
    position: relative;

}
.img16{
    margin-top:5%;
}
.danger, .aprobado, .expecion {

        width: 10%;
        height: 15%;
         margin: 10px; 
          float: right;

    
}
.numero1, .numero2, .numero3, .numero4, .numero5{
    width: 10%;
    height: 15%;
     margin: 10px; 
      float: right;

}

.w3-col{
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.img17{
    width: 50%;
    height: 50%;
}
.img18{
    width: 40%;
    height: 40%;
}
.img19{
    opacity: 0.2;
    position: absolute;
    width: 45%;
   height: 85%;
   left: 250px;
   
}
.img20{
height: 50%;
width: 50%;
}
.img21{
    position: relative;
    width: 15%;
    height: 15%;
    left:150px;
    
}
.img22{
    
    width: 40%;
    height: 40%;
}
.img23{
    width: 65%;
    height: 95%;
    position: absolute;
    opacity: 0.2;
}
.img24
{
    width: 65%;
    height: 95%;
    position: absolute;
    opacity: 0.2;
}
.img26{
  width: 60%;
  height: 70%;
}
.img27{
    opacity: 0.2;
    position: absolute; 
    width: 80%;
    height: 105%;
}
.img28{
    width: 50%;
    height: 50%;
}

.num1{
    width: 25%;
    height: 25%;
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;


}

.boton1{
    border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 3px solid #000000;

}
.w3-lime{
    border-radius: 44px 44px 25px 44px;
-moz-border-radius: 44px 44px 25px 44px;
-webkit-border-radius: 44px 44px 25px 44px;
border: 10px solid #000000;
animation-name: fadeIn;
animation-duration: 4s;

}
.w3-khaki{
    border-radius: 44px 44px 25px 44px;
    -moz-border-radius: 44px 44px 25px 44px;
    -webkit-border-radius: 44px 44px 25px 44px;
    border: 10px solid #000000;
    animation-name: fadeIn;
    animation-duration: 4s;
}
.menu10{
    width: 10%;
    height: 15%;
     margin: 10px; 
      float: right;
      }
      
.menu11{
width: 10%;
height: 15%;
float: right;
}
.img30{
    width: 25%;
    height: 25%;
}
.img33{
    width: 15%;
    height: 15%;
}
.img37{
    width: 40%;
    height: 40%;
    position: relative;
}
.img39{
    width: 60px;
    height: 60px
}
.pago1{
    width: 250px;
     height: 250px;
}
